body {
  background-image: url("../images/black-background.webp");
}

#main-content {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  color: white;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#main-nav ul li {
  display: inline-block;
}

#main-nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  font-family: "Shadows Into Light", cursive;
  color: white;
  background-color: #4078c0;
  display: inline-block;
}

#main-nav ul li a:hover {
  text-decoration: underline; 
}

#hobbies-photos {
  text-align: center;
  display: inline-block;
}

#photo2 {
  width: 900px;
  length: 579px;
}
